<div class="card" style="width: 18rem; display: inline-block">
  <img class="card-img-top" src="{{imgUrl}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">Location: {{city}}</p>
    <p class="card-text">Price: ${{price}}</p>
    <a href="/catalog/{{id}}" class="btn btn-primary">Show Details</a>
  </div>
</div>