{{#with place}}
<h1>Details for: {{name}}</h1>
<main class="main_details">
    <div>
        <img class="card-img-top" style="width: 25rem" src="{{imgUrl}}">
    </div>
    <div class="additions_image">
        <p>{{description}}</p>
        <p>Pricing: ${{price}}</p>
        <div align="left">
            <ul>
                {{#each extras}}
                <li>
                    {{label}}
                    <img class="icon" src="{{iconUrl}}">
                </li>
                {{/each}}
            </ul>
        </div>
        {{#if isOwner}}
        <a class="btn btn-primary" href="/extras/{{_id}}/addToRoom">Edit Extras</a>
        <a class="btn btn-primary" href="/place/{{_id}}/edit">Edit Room</a>
        <a class="btn btn-primary" id = 'del-btn' href="/place/{{_id}}/delete">Delete Room</a>
        {{/if}}
    </div>
</main>
<footer>Hosted by: TODO - owner username</footer>
{{/with}}